@font-face {
  font-family: 'typeWritter';
  src: url("../fonts/typewriter-webfont.eot?") format("eot"), url("../fonts/typewriter-webfont.woff") format("woff"), url("../fonts/typewriter-webfont.ttf") format("truetype"), url("../fonts/typewriter-webfont.svg#svgFontName") format("svg"); }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f5f5dc; }

a {
  color: #00B7FF; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.menu {
  background: white;
  background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
  border-bottom: 1px solid #222;
  height: 90px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 -5px 30px #000; }
  .menu header {
    font-size: 17px;
    font-family: typeWritter;
    line-height: 30px; }
    .menu header .specs {
      font-size: 14px; }
    .menu header nav {
      height: 90px;
      position: relative; }
      .menu header nav ul {
        position: absolute;
        bottom: 0px;
        margin-bottom: 0px;
        list-style: outside none none;
        font-size: 14px; }
        .menu header nav ul li {
          float: left;
          margin-right: 15px;
          cursor: pointer; }

/* stellar */
.section {
  background-attachment: fixed;
  height: auto;
  padding: 0;
  position: relative;
  width: 100%;
  overflow-x: hidden; }
  .section.section-1 {
    padding-top: 90px; }
  .section.image {
    height: 400px; }
  .section.image-1 {
    background-image: url(/img/slides/pic1.png); }
  .section.image-2 {
    background-image: url(/img/slides/pic2-1.jpg); }
  .section.image-3 {
    background-image: url(/img/slides/pic3-1.jpg); }
  .section.image-4 {
    background-image: url(/img/slides/pic4-1.jpg); }
  .section.image-5 {
    background-image: url(/img/slides/pic5-3.jpg); }
  .section.data {
    background-color: #ffffff; }
  .section:not(.data) {
    background-position: 0 0 !important;
    background-size: cover !important; }

.row {
  margin-bottom: 10px; }

.profile {
  background-image: url(/img/profile-1.png);
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: block; }
