<h1>{{title}}</h1>

<img src="img/profilePic.jpg"/>

<p>
    Shauna Goodenough
<br>
    Licensed Marriage and Family Therapist MFT # 45809
<br>
    Board Certified Art Therapist ATR-BC
<br>
    MA Notre Dame de Namur University
<br>
    my email is: <a href="mailto:shaunagoodenoughmft@gmail.com?subject=Wow your pic looks nice. Can you be my therapist?" target="_top">shaunagoodenoughmft@gmail.com</a>
</p>