<div data-stellar-background-ratio="0.5" class="section data section-1 container-fluid">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <p class="h3" data-title="welcome">Welcome</p>

            <p>
                Many people benefit from having the welcoming and safe space of therapy to explore issues, big and
                small. Be they mood and behavior patterns, past or recent traumas, or big picture life goals, therapy
                can be useful in helping individuals cope with various stressors, and elicit positive change. Are you
                having trouble adjusting to shifts in your life, such as a loss of a relationship, difficult event, or
                changes in career/job? Has your child or teen experienced a loss or trauma that is impacting their
                relationships, performance in school, or general functioning? I provide therapy that can be useful in
                helping individuals improve relationships with family members, peers, and self.
            </p>

            <p class="h3" data-title="youthServices">Youth Services</p>

            <p>I am experienced working with children and adolescents, including those navigating issues with both
                emotional/behavioral challenges and substance use (referred to as "co-occurring"). I also have worked
                with foster youth for several years.
            </p>

            <p>Young people experience stress just as adults do, but often have not mastered the skills necessary for
                coping. Symptoms of youth depression or anxiety can include: persistent sadness, withdrawal from friends
                or activities, increased irritability, difficulties in concentration, poor school performance, drug or
                alcohol abuse. Symptoms may influence functioning in different areas of life including school, social
                life, or other activities.</p>
        </div>
    </div>
</div>
<div data-stellar-background-ratio="0.5" class="section image image-1">
</div>
<div data-stellar-background-ratio="0.5" class="section data container-fluid">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <p class="h3" data-title="approach">Approach</p>

            <p>
                I use a warm, directive, client-centered approach. By this I mean I value the healing qualities of a
                strong relationship between client and therapist, while also utilizing skill building and
                psycho-education to encourage better coping and self care. The therapy process works toward finding the
                strengths in people, both to help people see strengths in themselves and also to summon as resources for
                change and support.
                I consider myself an integrative therapist, drawing from Cognitive Behavioral (CBT), Attachment Theory,
                Motivational Interviewing, and Mindfulness theories and techniques.
            </p>

            <p class="h3" data-title="aboutMe">About me</p>

            <p>

                <span class="col-xs-2 nopadding">
                    <span class="profile"></span>
                </span>
                <span class="col-xs-10 nopadding">
                    I worked for 8 years at Fred Finch Youth Center in Oakland, providing clinical services for foster
                    youth/families and probation youth in the Therapeutic Behavioral Services Program, and the Visiting
                    Therapist Program. I also served as a Clinical Supervisor for the School Based Outpatient , TBS, and VTP
                    programs.
                    Prior to my time at Fred Finch I was a counselor at a methadone clinic in San Francisco.
                    I have been a License Marriage and Family Therapist (MFC 45809) since 2008, and received my board
                    certification in Art Therapy in 2010.
                    BA: Psychology, University of California at Santa Barbara, MA: Marriage and Family Therapy, Notre Dame de Namur University
                </span>
            </p>
        </div>
    </div>
</div>
<div data-stellar-background-ratio="0.5" class="section image image-2">
</div>
<div data-stellar-background-ratio="0.5" class="section data container-fluid">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <p class="h3" data-title="officeLocations">Office Locations</p>

            <p>

            <div>
                <a href="https://www.google.com/maps/place/1197+Valencia+St,+San+Francisco,+CA+94110/@37.7537936,-122.4208335,17z/data=!3m1!4b1!4m2!3m1!1s0x808f7e3f0ca4ae9d:0x4dc2f7e1ed8840d4"
                   target="_blank">1197 Valencia St., San Francisco, CA 94110</a></div>
            </p>

            <p>
                The Valencia St. office is near the corner of 23rd St. a couple of blocks from BART. There is metered
                parking on Valencia and Mission, and 2 hour parking on nearby streets.
            </p>

            <p class="h3" data-title="fees">Fees and Insurance</p>

            <p>My fee is $120/session. I offer a sliding scale, please contact me to discuss your needs and what I have
                available.</p>

            <p>I am a <a href="http://vcgcb.ca.gov/victims/" target="_blank">Victims of Crime</a> provider
            </p>

            <p>I am in network with Blue Shield of California, and Magellan. I am an authorized provider for TriCARE
                (deductible may apply). Co-pays and deductibles vary from plan to plan so please check with your company
                to verify your specific benefits (outpatient mental/behavioral health).</p>

            <p>If you have a PPO plan you may receive coverage for services even if I am out of network. PPO plans vary
                so please confirm with your insurance what your “out of network, outpatient behavioral health benefits”
                are. There may be a deductible to meet, then a percentage of each session may be covered after that.
                Many clients who I have worked/are working with are able to receive out of network coverage through
                their PPO plan.</p>

            <p class="h3" data-title="prosCons">Pros and Cons of Using Insurance for Psychotherapy</p>

            <p>Pros: You get to use the benefits you and/or your company are paying for! You will save money by only be
                responsible for the co-pay.</p>

            <p>Risks: Sometimes coverage plans set limits on how many sessions are allowed. Insurance companies also
                require a mental health diagnosis to authorize service. In addition, insurance companies may request on
                update of treatment and progress. Paying out of pocket ensures greater confidentiality for your
                treatment.</p>

        </div>
    </div>
</div>
<div data-stellar-background-ratio="0.5" class="section image image-3"></div>
<div data-stellar-background-ratio="0.5" class="section data">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <p class="h3" data-title="artTherapy">Art Therapy</p>

            <p>What is it? The American Art Therapy Association explains: "Art therapy is a mental health profession
                that uses the creative process of art making to improve and enhance the physical, mental and emotional
                well-being of individuals of all ages. It is based on the belief that the creative process involved in
                artistic self-expression helps people to resolve conflicts and problems, develop interpersonal skills,
                manage behavior, reduce stress, increase self-esteem and self-awareness, and achieve insight."</p>

            <p>Art therapy involves the use of various materials such as pencil, markers, pastel, chalk, paint, clay,
                collage, and many others. Participants do not need to be trained or skilled in art to utilize art
                therapy.</p>

            <p>And no, it’s not just for kids!</p>

            <p class="h3" data-title="supervision">Supervision</p>

            <p>Yes, I do offer off-site supervision! Do you need art therapy hours? Or do you work at a setting where
                you are not getting enough MFT or LPCC supervision hours? I’ve been there. I offer affordable off-site
                supervision.</p>
        </div>
    </div>
</div>
<div data-stellar-background-ratio="0.5" class="section image image-4"></div>
<div data-stellar-background-ratio="0.5" class="section data">
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <p class="h3" data-title="links">Links</p>

            <p>Learn more about Art Therapy at <a href="http://www.arttherapyalliance.org" target="_blank">Art Therapy
                Alliance</a>
            </p>

            <p>Validating Blog on Depression (in case you haven't read it already):
                <a href="http://hyperboleandahalf.blogspot.com/2013/05/depression-part-two.html" target="_blank">Hyberbole
                    and a Half</a>
            </p>

            <p>Tips for managing a panic attack and more at <a
                    href="http://psychcentral.com/lib/tips-to-cope-with-a-panic-attack/"
                    target="_blank">PsychCentral</a>
            </p>

            <p>Short <a
                    href="http://www.businessinsider.com/smartphone-impact-brain-body-sleep-2015-2"
                    target="_blank">video</a> about screens and sleep
            </p>

            <p><a
                    href="http://journals.sagepub.com/doi/full/10.1177/2167702617723376"
                    target="_blank">Study</a> exploring the relationship between screen time and mood disorders</p>

            <p><a href="http://www.huffingtonpost.com/sahaj-kohli/misconceptions-about-therapy_b_7286204.html"
                  target="_blank">Misconceptions About Therapy</a> (eg. you need not be rich , weak, and “crazy”)
            </p>

            <p>Please visit the following sites if you have safety concerns:
            <ul>
                <li>
                    <a href="http://www.suicidepreventionlifeline.org" target="_blank">National Suicide Hotline</a>
                    800-273-8255
                </li>
                <li><a href="http://www.alexproject.org" target="_blank">The Alex Project</a> is a crisis text line.
                    Text LISTEN to
                    741741 anytime
                </li>
                <li>
                    <a href="http://larkinstreetyouth.org" target="_blank">Larkin Street Youth</a> provides emergency
                    youth shelter and drop-in services in San Francisco
                </li>
            </ul>
            </p>
        </div>
    </div>
</div>
<div data-stellar-background-ratio="0.5" class="section image image-5"></div>
