<h1>WELCOME</h1>
<p>Therapy can provide a space for children, teens, and adults to explore mood and behavior patterns, and can provide
    support in coping with past or recent trauma. Are you having trouble adjusting to changes in your life, such as a
    loss of a relationship, difficult event, or shifts in career/job? Has your child or teen experienced a loss or
    trauma that is impacting their relationships, performance in school, or general functioning? I provide therapy that
    can be useful in helping individuals improve relationships with family members, peers, and self. </p>
<p>
    Please feel free to email or call with any questions.
    goodenough.se@gmail.com (415) 779-2781
</p>

<h3>
    Areas of focus:
</h3>
<p>
    Depression Substance Use Survivors of Abuse Post-traumatic Stress Disorder Anger Management
</p>

<h3>
    Approaches:
</h3>

<p>Cognitive Behavioral Therapy Motivational Interviewing Art Therapy Integrative</p>

<p>
    I have a passion for working with children and adolescents, especially those experiencing issues with both
    emotional/behavioral challenges and substance use (referred to as "co-occurring"). I use a directive,
    client-centered approach. By this I mean I value the healing qualities of a strong relationship between client and
    therapist, while also utilizing skill building and psycho-education to encourage better coping skills and self care.
    I work towards finding the strengths in people, both to help people see strengths in themselves and also to summon
    as resources for change and support.
</p>

<p>
    Young people experience stress just as adults do, but often have not mastered the skills necessary for coping.
    Symptoms of youth depression can include: persistent sadness, withdrawal from friends or activities, increased
    irritability, difficulties in concentration, poor school performance, drug or alcohol abuse. Symptoms may influence
    functioning in school, social life, and community.
</p>
