<h1>{{title}}</h1>

<h3>What is Art Therapy?</h3>

<b><i>The American Art Therapy Association explains:</i></b>
<p>"Art therapy is a mental health profession that uses the creative process of art making to improve and enhance the
    physical, mental and emotional well-being of individuals of all ages. It is based on the belief that the creative
    process involved in artistic self-expression helps people to resolve conflicts and problems, develop interpersonal
    skills, manage behavior, reduce stress, increase self-esteem and self-awareness, and achieve insight."</p>

<p>Art therapy involves the use of various materials such as pencil, markers, pastel, chalk, paint, clay, collage, and
    many others. Participants do not need to be trained or skilled in art to utilize art therapy.</p>