<h1>{{title}}</h1>

<img src="img/smallberry.jpg"/>

<p>
    Adult, child, and adolescent individual psychotherapy
<br>
    Affordable Art Therapy supervision
<br>
    Offices:  842 California St.,  San Francisco, CA,   1197 Valencia St., San Francisco, CA
<br>
    Sliding scale offered
<br>
    I accept Blue Shield insurance
<br>

    phone:  415-779-2781
    email: <a href="mailto:goodenough.se@gmail.com?Subject=I Need THERAPY" target="_top">goodenough.se@gmail.com</a>
</p>