<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!--<link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />-->
    <link href="css/style.css" rel="stylesheet"/>
    <link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <script type="text/javascript" src="components/jquery/dist/jquery.js"></script>
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>-->
    {{> localScripts }}
</head>
<body>
<div class="menu">
    <header role="presentation" class="container-fluid">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-2 title">
                <div>Shauna Goodenough, MFT, ATR-BC</div>
                <div class="specs">Adults, Children, and Adolescents</div>
                <div>415-779-2781 goodenough.se@gmail.com</div>
            </div>
            <nav class="col-xs-5">
                <ul>
                    <li><a data-title="approach">Approach</a></li>
                    <li><a data-title="officeLocations">Office and Fees</a></li>
                    <li><a data-title="artTherapy">Art Therapy</a></li>
                    <li><a data-title="links">Links</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
{{{ yield }}}
</body>
</html>